<ion-view>

    <ion-content class="homeContainer">

        <div class="logoContainer">
          <img src="" alt="Innovation">
        </div>
        <div class="welcomeContainer">
          <div class="">
            <p class="welcomeText">¡Bienvenido!</p>
            <button type="button" class="buttonRegister" ui-sref="search">Registrarse</button>
          </div>

        </div>

        <div class="buttonAdminContainer">
          <button type="button" class="buttonAdmin">Administrar</button>
        </div>

    </ion-content>


</ion-view>
