<ion-view>

    <ion-content class="homeContainer">

        <div class="logoContainer">
          <img src="img/whitelogolarge.png" alt="Innovation">
        </div>
        <div class="welcomeContainer">
          <div class="">
            <p class="welcomeText">¡Bienvenido!</p>
            <button  type="button" class="button button-energized" ui-sref="search">Regístrate</button>
          </div>

        </div>

        <div class="buttonAdminContainer">
          <button type="button" class="buttonAdmin button button-light">Administración</button>
        </div>

    </ion-content>


</ion-view>
