
<ion-modal-view id="modalConfirm" class="modalConfirmContainer" ui-sref="food" ng-click="modal.hide()">
  <ion-content class="contentModalConfirm">
    <div class="modalConfirm">

      <div class="contentConfirm">
        <p class="confirmYourSelectionText">Confirma tu selección</p>
        <p class="userNameText">Daniel Ortega</p>
        <p class="employmentText">CMI Corporativo</p>
        <div class="buttonsContainer">
          <button class="buttonCancel button button-stable" ng-click="modal.hide()">Cancelar</button>
          <button class="buttonConfirm button button-dark" ng-click="navigateFood()">Confirmar</button>
        </div>
      </div>

    </div>

  </ion-content>
</ion-modal-view>
