
<ion-modal-view id="modalPrint" class="modalPrintContainer" ui-sref="home" ng-click="modal.hide()">
  <ion-content class="contentModalPrint">
      <div class="logoContainer">
        <img src="img/whitelogolarge.png" alt="Innovation">
      </div>
      <div class="containerTexIsPrinting">
        <div>
          <p class="ThanksText" ng-if="thanks">¡Gracias <span>Daniel</span>!</p>
          <p class="YourCarneIsPrintingText" ng-if="isPrinting">Tu carné se está imprimiendo</p>

          <p class="ThanksText" ng-if="isPrintingWithoutThanks">¡El carné se está imprimiendo!</p>

        </div>
      </div>


  </ion-content>
</ion-modal-view>
