<ion-view>

    <ion-content class="insertNameContainer">

        <div id="logoContentIdInsertNaem" class="logoContainer">
          <img src="img/whitelogolarge.png" alt="Innovation">
          <button type="button" class="buttonLogout button button-light" ui-sref="home">Cerrar Sesión</button>
        </div>
        <div class="inputInsertNameContainer"  ng-class="classInput">
          <div class="">
            <input id="inputInsertName" type="text" placeholder="Ingresa el nombre" class="inputInsertName" ng-focus="upInput()" ng-blur="downInput()" ng-change="changeInput()" ng-enter="sendName(name)" ng-model="name">
            <button id="buttonSearchId" type="button" class="buttonSearch button button-dark" ng-click="sendName(name)">Buscar</button>
          </div>

        </div>

    </ion-content>


</ion-view>
