<ion-view>

    <ion-content class="insertNameContainer">

        <div class="logoContainer">
          <img src="img/whitelogolarge.png" alt="Innovation">
          <button type="button" class="buttonLogout button button-light" ui-sref="home">Cerrar Sesión</button>
        </div>
        <div class="inputInsertNameContainer"  ng-class="classInput">
          <div class="">
            <input type="text" placeholder="Ingresa el nombre" class="inputInsertName" ng-model="name">
            <button type="button" class="buttonSearch button button-dark" ui-sref="info_user" ng-click="sendName(name)">Buscar</button>
          </div>

        </div>

    </ion-content>


</ion-view>
