<ion-view>

    <ion-content class="foodContainer">

        <div class="logoContainer">
          <img src="img/whitelogolarge.png" alt="Innovation">
        </div>

        <div class="boxFoodContainer">
          <div class="boxFood">
            <div class="">
              <p class="userNameFood">Daniel Ortega</p>
              <p class="grayText">CMI Corporativo</p>
              <p class="grayText">dan.ortega@cmi.co</p>

              <p class="willEatText">¿Comerás en el evento?</p>
              <div class="checkRadioContainer">
                <div class="yesContainer">
                  <button class="checked"></button>
                  <span>Si</span>
                </div>
                <div class="noContainer">
                  <button class="unchecked"></button>
                  <span>No</span>
                </div>

              </div>
              <button class="buttonConfirm button button-dark" ng-click="navigateFood()">Confirmar</button>
            </div>



          </div>

        </div>



    </ion-content>


</ion-view>
