.searchContainer {
  background-color: #f5a917;
  background:  url(../../img/bg_yellow.png) no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-position: 0;
  /*height: 100%;*/
  min-height: 101% !important;
}

.searchContainer>div {
  height: 100%;
  overflow: hidden;
}

.buttonPrintRecords{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 60px;
}

.inputSearchContainer{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputSearchContainerTop{
  height: 45% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toAnimateUp{
  animation-name: animationInputUp;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.toAnimateDown{
  animation-name: animationInputDown;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes animationInputUp {
  0%{margin-top: 0vh;}
  100%{margin-top: -25vh;}
}

@keyframes animationInputDown {
  0%{margin-top: -25vh;}
  100%{margin-top: 0vh;}
}

.inputSearchYourName{
  color: #fff !important;
  background-color: transparent;
  font-size: 5rem !important;
  width: 80%;
  /*margin: auto;*/
  height: 110px !important;
}

.inputSearchYourName::-webkit-input-placeholder{
  color: #f2ba4e !important;
  padding-top: 25px;
  height: 100%;
}

.tableContainer{
  display: flex;
  justify-content: center;
  height: 55%;
  overflow: auto;
}

.tableSearch{
  width: 90%;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-collapse: collapse !important;
}

.tableSearch > tbody > tr > td{
  font-size: 1.5rem;
  border-bottom: 1px solid gray;
  padding: 0 20px;
  color: gray;
  line-height: 1;
  font-family: Roboto_Regular;
  vertical-align: middle;
  height: 70px;
}

.tableSearch > tbody > tr > td:nth-child(1){
  font-family: Roboto_Bold;
  color: #54585a;
}

.imgArrowRight{
  width: 30px;
  margin-top: 5px;
}

@media screen and (max-height: 600px) {
  .inputSearchYourName{
    font-size: 4rem !important;
  }
}
