<ion-view>

    <ion-content class="searchContainer">

        <div class="logoContainer">
          <img src="img/whitelogolarge.png" alt="Innovation">
        </div>
        <div class="inputSearchContainer"  ng-class="classInput">
          <input type="text" placeholder="Busca tu nombre" class="inputSearchYourName" ng-focus="clickInput()" ng-mouseleave="leaveInput()" ng-model = 'search'>
        </div>
        <div class="tableContainer"  ng-if='search != null && search.length != 0'>


          <table class="tableSearch">
         		<tbody>
         			<tr ng-repeat = "dato in objeInvitados | filter: search "  ng-click = "selectItem(dato)">
         				<td>
        	 					{{dato.Nombre }}
         				</td>
                <td>
        	 					Cargo
         				</td>
                <td ng-click = "selectItem(dato)">
        	 					<img src="img/arrow_right.png" alt="" style="width:30px; height: 30px;">
         				</td>

         			</tr>
         		</tbody>
         	</table>
        </div>

    </ion-content>


</ion-view>
